***
# Imports
### <span style="color: red;">NB. Used Python 3.10.6 kernel</span>
### <span style="color: red;">run command in root of this folder:</span> make install_requirements

In [23]:
import os.path
import time
            # data sourcing:
import csv
            # databases:
import sqlite3
            # useful other
from collections import defaultdict
            # data toolkit:
import numpy as np
import pandas as pd
            # plotting
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns
            # sklearn techniques
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate, KFold
from sklearn.model_selection import learning_curve
from sklearn.preprocessing import LabelEncoder
from sklearn.multiclass import OneVsOneClassifier
from sklearn.utils import shuffle
            # sklearn models
from sklearn.linear_model import LinearRegression, LogisticRegression

***
# Sourcing data and handling it

In [2]:
# check raw data archive path extant:
atp_data_path = os.path.join('..','raw_data','archive')
assert os.path.exists(atp_data_path)

In [3]:
# download to the raw_data folder from the following url
dataset_url = 'https://www.kaggle.com/datasets/ehallmar/a-large-tennis-dataset-for-atp-and-itf-betting?select=all_tournaments.csv'

# unzip archive

# confirm .csv files x 7 are there:
assert os.path.isfile('../raw_data/archive/all_matches.csv'), 'all_matches.csv not found. download from url above'
assert os.path.isfile('../raw_data/archive/all_players.csv'), 'all_matches.csv not found. download from url above'
assert os.path.isfile('../raw_data/archive/all_tournaments.csv'), 'all_matches.csv not found. download from url above'
assert os.path.isfile('../raw_data/archive/betting_moneyline.csv'), 'all_matches.csv not found. download from url above'
assert os.path.isfile('../raw_data/archive/betting_spreads.csv'), 'all_matches.csv not found. download from url above'
assert os.path.isfile('../raw_data/archive/betting_totals.csv'), 'all_matches.csv not found. download from url above'
assert os.path.isfile('../raw_data/archive/countries.csv'), 'all_matches.csv not found. download from url above'

In [4]:
# check iniital data file expected are extant:
matches_data_path_full = os.path.join(atp_data_path, 'all_matches.csv')
assert os.path.exists(matches_data_path_full)

In [5]:

# needs care here, too big for memory 
matches_df_1st_50k = pd.read_csv(matches_data_path_full, nrows=50_000, index_col=None)
matches_df_1st_50k.tail()

/tmp/ipykernel_33478/1814627133.py:2: DtypeWarning: Columns (8,10,45,48) have mixed types. Specify dtype option on import or set low_memory=False.
  matches_df_1st_50k = pd.read_csv(matches_data_path_full, nrows=50_000, index_col=None)

,start_date,end_date,location,court_surface,prize_money,currency,year,player_id,player_name,opponent_id,...,total_points,duration,player_victory,retirement,seed,won_first_set,doubles,masters,round_num,nation
49995,2004-07-05,2004-07-11,DEN,Clay,NaN,NaN,2004,frederik-nielsen,NaN,pablo-figueroa,...,NaN,NaN,f,f,2.0,f,f,25,3,DEN
49996,2004-07-05,2004-07-11,DEN,Clay,NaN,NaN,2004,frederik-nielsen_rasmus-norby,NaN,andrea-arnaboldi_nicolas-tourte,...,NaN,NaN,t,f,NaN,t,t,25,7,DEN
49997,2004-07-05,2004-07-11,DEN,Clay,NaN,NaN,2004,frederik-nielsen_rasmus-norby,NaN,andreas-siljestrom_oskar-pallin,...,NaN,NaN,t,f,NaN,t,t,25,6,DEN
49998,2004-07-05,2004-07-11,DEN,Clay,NaN,NaN,2004,frederik-nielsen_rasmus-norby,NaN,antti-tuomi_niklas-bucht,...,NaN,NaN,t,f,NaN,t,t,25,4,DEN
49999,2004-07-05,2004-07-11,DEN,Clay,NaN,NaN,2004,frederik-nielsen_rasmus-norby,NaN,jacob-melskens_tore-deleuran-skjold,...,NaN,NaN,t,f,NaN,t,t,25,5,DEN

In [6]:
matches_data_path = os.path.join(atp_data_path, 'all_matches_1st50k.csv')

In [7]:
# save a sample so we can establish working without using the whole dataset:
save_csv_back_out = 0
if save_csv_back_out:
    matches_df_1st_50k.to_csv(matches_data_path)

In [8]:
# confirm file is there:
assert os.path.exists(matches_data_path)
# if you get an error here, rerun the cell above with 'save_csv_back_out = 1'

In [9]:
# KEEP FOR LATER
# not using until we work on the data and save it out in stages:

# matches_data_path_latest = os.path.join(atp_data_path, 'all_matches_1st50k_latest.csv')
# assert os.path.exists(matches_data_path_latest)

***
# First EDA (Exploratory Data Analysis)

In [10]:
# this gets stuck, hence: 'run_difficult_cell'
run_difficult_cell = 0
if run_difficult_cell:
    matches_data_latest = pd.read_csv(matches_data_path_full, index_col=0)

### Notes:
- It became clear above that loading the 4.3m rows into pandas cannot
be handled by this machine
- Could use the cloud - and will try later, but initially let's try with
these limited resources, it's good practice.

In [11]:
# revert to using Dataframe above, suffices for now
matches_df_1st_50k.info() 
# 50_000 rows is <21mb in memory

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 54 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   start_date                            50000 non-null  object
 1   end_date                              48967 non-null  object
 2   location                              50000 non-null  object
 3   court_surface                         50000 non-null  object
 4   prize_money                           15537 non-null  float64
 5   currency                              15537 non-null  object
 6   year                                  50000 non-null  int64
 7   player_id                             50000 non-null  object
 8   player_name                           10298 non-null  object
 9   opponent_id                           50000 non-null  object
 10  opponent_name                         10298 non-null  object
 11  tournament                            50000 non-null  object
 12  round                                 50000 non-null  object
 13  num_sets                              50000 non-null  int64
 14  sets_won                              50000 non-null  int64
 15  games_won                             50000 non-null  int64
 16  games_against                         50000 non-null  int64
 17  tiebreaks_won                         50000 non-null  int64
 18  tiebreaks_total                       50000 non-null  int64
 19  serve_rating                          10298 non-null  float64
 20  aces                                  10298 non-null  float64
 21  double_faults                         10298 non-null  float64
 22  first_serve_made                      10298 non-null  float64
 23  first_serve_attempted                 10298 non-null  float64
 24  first_serve_points_made               10298 non-null  float64
 25  first_serve_points_attempted          10298 non-null  float64
 26  second_serve_points_made              10298 non-null  float64
 27  second_serve_points_attempted         10298 non-null  float64
 28  break_points_saved                    10298 non-null  float64
 29  break_points_against                  10298 non-null  float64
 30  service_games_won                     10298 non-null  float64
 31  return_rating                         10298 non-null  float64
 32  first_serve_return_points_made        10298 non-null  float64
 33  first_serve_return_points_attempted   10298 non-null  float64
 34  second_serve_return_points_made       10298 non-null  float64
 35  second_serve_return_points_attempted  10298 non-null  float64
 36  break_points_made                     10298 non-null  float64
 37  break_points_attempted                10298 non-null  float64
 38  return_games_played                   10298 non-null  float64
 39  service_points_won                    10298 non-null  float64
 40  service_points_attempted              10298 non-null  float64
 41  return_points_won                     10298 non-null  float64
 42  return_points_attempted               10298 non-null  float64
 43  total_points_won                      10298 non-null  float64
 44  total_points                          10298 non-null  float64
 45  duration                              10298 non-null  object
 46  player_victory                        50000 non-null  object
 47  retirement                            50000 non-null  object
 48  seed                                  17926 non-null  object
 49  won_first_set                         49301 non-null  object
 50  doubles                               50000 non-null  object
 51  masters                               50000 non-null  int64
 52  round_num                             50000 non-null  int64
 53  nation                                50000 non-null  object
dtypes: float64(27), int64(9), object(18)
memory usage: 20.6+ MB

In [12]:
# first look at columns 
matches_df_1st_50k.columns

Index(['start_date', 'end_date', 'location', 'court_surface', 'prize_money',
       'currency', 'year', 'player_id', 'player_name', 'opponent_id',
       'opponent_name', 'tournament', 'round', 'num_sets', 'sets_won',
       'games_won', 'games_against', 'tiebreaks_won', 'tiebreaks_total',
       'serve_rating', 'aces', 'double_faults', 'first_serve_made',
       'first_serve_attempted', 'first_serve_points_made',
       'first_serve_points_attempted', 'second_serve_points_made',
       'second_serve_points_attempted', 'break_points_saved',
       'break_points_against', 'service_games_won', 'return_rating',
       'first_serve_return_points_made', 'first_serve_return_points_attempted',
       'second_serve_return_points_made',
       'second_serve_return_points_attempted', 'break_points_made',
       'break_points_attempted', 'return_games_played', 'service_points_won',
       'service_points_attempted', 'return_points_won',
       'return_points_attempted', 'total_points_won', 'total_points',
       'duration', 'player_victory', 'retirement', 'seed', 'won_first_set',
       'doubles', 'masters', 'round_num', 'nation'],
      dtype='object')

In [13]:
# there are a bunch of columns we can avoid using, certainly initially
# looking at the datatypes, there is probably a lot of room for memory reduction

In [14]:
# NOTE from Pandas: columns 5, 8, 10, 45, 48 have mixed datatypes:
mixed_datatypes = ['currency', 'player_name', 'opponent_name', 'duration', 'seed']
# let's see:
print(matches_df_1st_50k.iloc[:,[5, 8, 10, 45, 48]].head())

  currency   player_name  opponent_name  duration seed
0        €      A. Partl      A. Martin  01:02:00  NaN
1        €      A. Partl     J. Kovalik  02:43:00  NaN
2        €    A. Velotti      D. Hrbaty  01:17:00  NaN
3        €           NaN            NaN       NaN  NaN
4        €  A. Giannessi  H. Heliovaara  02:32:00    1

In [15]:
matches_df_1st_50k.value_counts()

start_date  end_date    location                                              court_surface  prize_money  currency  year  player_id              player_name       opponent_id             opponent_name    tournament               round                 num_sets  sets_won  games_won  games_against  tiebreaks_won  tiebreaks_total  serve_rating  aces  double_faults  first_serve_made  first_serve_attempted  first_serve_points_made  first_serve_points_attempted  second_serve_points_made  second_serve_points_attempted  break_points_saved  break_points_against  service_games_won  return_rating  first_serve_return_points_made  first_serve_return_points_attempted  second_serve_return_points_made  second_serve_return_points_attempted  break_points_made  break_points_attempted  return_games_played  service_points_won  service_points_attempted  return_points_won  return_points_attempted  total_points_won  total_points  duration  player_victory  retirement  seed  won_first_set  doubles  masters  round_num  nation
2010-11-08  2010-11-14  United Kingdom of Great Britain and Northern Ireland  Hard           42500.0      €         2010  adrian-mannarino       A. Mannarino      matthias-bachinger      M. Bachinger     loughborough_challenger  Round of 32           3         1         10         16             0              0                218.0         2.0   4.0            49.0              90.0                   29.0                     49.0                          19.0                      41.0                           10.0                15.0                  13.0               185.0          10.0                            42.0                                 13.0                             28.0                                  2.0                2.0                     13.0                 48.0                90.0                      23.0               70.0                     71.0              160.0         01:42:00  f               f           2     f              f        100      3          United Kingdom of Great Britain and Northern Ireland    1
2017-04-10  2017-04-16  Morocco                                               Clay           482060.0     €         2017  philipp-kohlschreiber  P. Kohlschreiber  jan-lennard-struff      J. Struff        marrakech                Quarter-Finals        3         2         16         14             0              0                291.0         4.0   1.0            54.0              93.0                   44.0                     54.0                          22.0                      39.0                           8.0                 9.0                   15.0               118.0          11.0                            49.0                                 19.0                             44.0                                  2.0                5.0                     15.0                 66.0                93.0                      30.0               93.0                     96.0              186.0         02:08:00  t               f           3     f              f        250      5          Morocco                                                 1
                                                                                                                                                                   benoit-paire            B. Paire         marrakech                Semi-Finals           2         2         12         4              0              0                310.0         0.0   1.0            20.0              41.0                   19.0                     20.0                          14.0                      21.0                           1.0                 1.0                   8.0                185.0          14.0                            39.0                                 21.0                             30.0                                  4.0                14.0                    8.0                  33.0                41.0                      35.0               69.0                     68.0              110.0         01:02:00  t               f           3     t              f        250      6          Morocco                                                 1
                                                                                                                          paolo-lorenzi          P. Lorenzi        jiri-vesely             J. Vesely        marrakech                Quarter-Finals        3         1         15         16             0              1                297.0         5.0   0.0            54.0              90.0                   38.0                     54.0                          25.0                      36.0                           0.0                 1.0                   15.0               95.0           10.0                            58.0                                 14.0                             30.0                                  1.0                4.0                     15.0                 63.0                90.0                      24.0               88.0                     87.0              178.0         02:21:00  f               f           5     t              f        250      5          Morocco                                                 1
                                                                                                                                                                   guillermo-garcia-lopez  G. Garcia-Lopez  marrakech                Round of 32           2         2         14         11             1              1                278.0         2.0   1.0            39.0              67.0                   28.0                     39.0                          18.0                      28.0                           1.0                 3.0                   12.0               155.0          15.0                            45.0                                 20.0                             37.0                                  3.0                7.0                     12.0                 46.0                67.0                      35.0               82.0                     81.0              149.0         02:04:00  t               f           5     t              f        250      3          Morocco                                                 1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ..
2015-10-05  2015-10-11  Japan                                                 Hard           1263045.0    $         2015  austin-krajicek        A. Krajicek       nicolas-mahut           N. Mahut         tokyo                    2nd Round Qualifying  2         2         12         8              0              0                343.0         6.0   0.0            33.0              47.0                   29.0                     33.0                          11.0                      14.0                           0.0                 0.0                   10.0               132.0          10.0                            41.0                                 13.0                             22.0                                  2.0                7.0                     10.0                 40.0                47.0                      23.0               63.0                     63.0              110.0         01:08:00  t               f           7     t              f        500      2          Japan                                                   1
                                                                                                                                                                   matthew-ebden           M. Ebden         tokyo                    Round of 32           3         2         19         19             2              2                280.0         10.0  3.0            80.0              128.0                  65.0                     80.0                          22.0                      48.0                           4.0                 7.0                   18.0               98.0           14.0                            74.0                                 27.0                             54.0                                  2.0                11.0                    18.0                 87.0                128.0                     41.0               128.0                    128.0             256.0         02:55:00  t               f           Q     f              f        500      3          Japan                                                   1
                                                                                                                                                                   joao-sousa              J. Sousa         tokyo                    Round of 16           3         2         14         13             0              0                273.0         11.0  4.0            71.0              100.0                  51.0                     71.0                          11.0                      29.0                           8.0                 10.0                  14.0               125.0          12.0                            53.0                                 22.0                             38.0                                  2.0                7.0                     13.0                 62.0                100.0                     34.0               91.0                     96.0              191.0         02:10:00  t               f           Q     f              f        500      4          Japan                                                   1
                        China                                                 Hard           2700510.0    $         2015  zhizhen-zhang          Z. Zhang          ricardas-berankis       R. Berankis      beijing                  1st Round Qualifying  2         2         13         8              0              0                264.0         7.0   4.0            31.0              58.0                   26.0                     31.0                          12.0                      27.0                           0.0                 2.0                   10.0               185.0          10.0                            34.0                                 23.0                             35.0                                  5.0                11.0                    11.0                 38.0                58.0                      33.0               69.0                     71.0              127.0         01:20:00  t               f           WC    t              f        500      1          China                                                   1
2018-08-13  2018-08-19  Italy                                                 Clay           64000.0      €         2018  zdenek-kolar           Z. Kolar          mate-valkusz            M. Valkusz       cordenons_challenger     Quarter-Finals        2         0         0          12             0              0                128.0         0.0   2.0            33.0              53.0                   16.0                     33.0                          4.0                       20.0                           5.0                 11.0                  6.0                30.0           2.0                             17.0                                 2.0                              11.0                                  0.0                0.0                     6.0                  20.0                53.0                      4.0                28.0                     24.0              81.0          00:49:00  f               f           6     f              f        100      5          Italy                                                   1
Name: count, Length: 5885, dtype: int64

In [16]:
matches_df_1st_50k.describe()

,prize_money,year,num_sets,sets_won,games_won,games_against,tiebreaks_won,tiebreaks_total,serve_rating,aces,...,break_points_attempted,return_games_played,service_points_won,service_points_attempted,return_points_won,return_points_attempted,total_points_won,total_points,masters,round_num
count,1.553700e+04,50000.000000,50000.000000,50000.00000,50000.000000,50000.00000,50000.000000,50000.000000,10298.000000,10298.000000,...,10298.000000,10298.000000,10298.000000,10298.000000,10298.000000,10298.000000,10298.000000,10298.000000,50000.000000,50000.000000
mean,3.796909e+06,2006.594400,2.313920,1.15450,10.854560,10.85390,0.128100,0.256260,261.542435,5.526122,...,6.470188,11.608662,46.852301,74.486696,27.634007,74.481841,74.486308,148.968538,274.302000,2.649080
std,6.579064e+06,12.810598,0.627138,0.95365,5.432237,5.43239,0.359128,0.506395,40.758831,4.816104,...,4.155581,3.547386,16.840465,25.307795,11.281841,25.308832,25.697776,48.842251,542.212359,1.979033
min,1.060000e+04,1950.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-2.000000
25%,1.500000e+05,2000.000000,2.000000,0.00000,7.000000,7.00000,0.000000,0.000000,236.000000,2.000000,...,3.000000,9.000000,35.000000,56.000000,20.000000,56.000000,57.000000,112.000000,25.000000,1.000000
50%,6.427500e+05,2010.000000,2.000000,1.00000,12.000000,12.00000,0.000000,0.000000,265.000000,4.000000,...,6.000000,11.000000,44.000000,70.000000,27.000000,70.000000,71.000000,140.000000,25.000000,3.000000
75%,3.826655e+06,2015.000000,3.000000,2.00000,13.000000,13.00000,0.000000,0.000000,291.000000,8.000000,...,9.000000,14.000000,57.000000,91.000000,34.000000,91.000000,91.000000,181.000000,250.000000,4.000000
max,2.509600e+07,2018.000000,5.000000,4.00000,126.000000,126.00000,3.000000,3.000000,376.000000,53.000000,...,30.000000,34.000000,154.000000,225.000000,91.000000,225.000000,215.000000,420.000000,2000.000000,7.000000

In [17]:
print(f'player_name: {matches_df_1st_50k.player_name.count()} and player_id: {matches_df_1st_50k.player_id.count()}')
print(f'player_name: {matches_df_1st_50k.opponent_name.count()} and player_id: {matches_df_1st_50k.opponent_id.count()}')
# seems low ~20% of data

player_name: 10298 and player_id: 50000
player_name: 10298 and player_id: 50000

In [18]:
pd.to_datetime(matches_df_1st_50k.end_date)
display(matches_df_1st_50k.end_date.head())
pd.to_datetime(matches_df_1st_50k.start_date)
display(matches_df_1st_50k.start_date.head())
# using a simple to_datetime conversion works,

0    2012-06-17
1    2012-06-17
2    2012-06-17
3    2012-06-17
4    2012-06-17
Name: end_date, dtype: object

0    2012-06-11
1    2012-06-11
2    2012-06-11
3    2012-06-11
4    2012-06-11
Name: start_date, dtype: object

In [19]:
print(f'oldest date: {matches_df_1st_50k.start_date.min()} and most recent: {matches_df_1st_50k.start_date.max()}')
# Interesting to see the 1950's represented

oldest date: 1950-08-25 and most recent: 2018-08-13

In [20]:
# Let's see the count per year or decade

In [21]:
plt.hist(matches_df_1st_50k.start_date,bins=68); # attempting by year
# Again, this is an interesting picture.
# Prompts question about number of tennis events per year, and similar
# And there seems to be a gap in the data around 2015 or something

NameError: name 'plt' is not defined

In [ ]:
plt.hist(matches_df_1st_50k.start_date,bins=5); # attempting by decade

# for both by year and by decade, it's clear that the whole dataset will be 
# needed - no idea yet how the whole dataset is distributed by date

*** 
# Start to get a little organised per column
### Aim to later use these dicts to treat the data differently

In [ ]:
# keep a simple dict of columns to see how full they are
# could use a simple .count() but going to run across mutiple chunks, and only want to see specific columns
check_completeness = {'start_date': 0, 'end_date': 0, 'player_name': 0, 
                      'duration': 0
                      }

check_key_distinguishing_columns = {'doubles': 0, 'masters': 0, 'nation': 0
                                    , 'seed': 0, 'prize_money': 0,}

check_numerical_columns = {'prize_money': 0,'sets_won': 0,  'sets_won': 0,'games_won': 0,  
                           'games_against': 0, 'tiebreaks_won': 0,  'tiebreaks_total': 0,
                      'serve_rating': 0, 'aces': 0, 
                      'double_faults': 0, 'first_serve_made': 0, 
                      'first_serve_attempted': 0, 'first_serve_points_made': 0,  
                      'first_serve_points_attempted': 0, 'second_serve_points_made': 0, 
                      'second_serve_points_attempted': 0, 'break_points_saved': 0, 
                      'break_points_against': 0, 'service_games_won': 0, 
                      'return_rating': 0, 'first_serve_return_points_made': 0, 
                      'first_serve_return_points_attempted': 0, 'second_serve_return_points_made': 0, 
                      'second_serve_return_points_attempted': 0, 'break_points_made': 0, 
                      'break_points_attempted': 0, 'return_games_played': 0, 
                      'service_points_won': 0, 'service_points_attempted': 0, 
                      'return_points_won': 0, 'return_points_attempted': 0, 
                      'total_points_won': 0, 'total_points': 0, 
                      'duration': 0, 
                      # distinguishing column:
                      'round_num': 0
                      }

check_mixed_columns = {'seed': 0, 'currency': 0, 'player_name': 0, 'opponent_name': 0, 'duration': 0}

check_boolean_columns = {'player_victory': 0, 'retirement': 0, 'won_first_set': 0, 
                         }
# # list(check_completeness.keys())
# for i in check_completeness:
#     print(i)

In [ ]:
# in the first 50_000 rows, column counts for these columns gives: 
for i in check_completeness:
    count = matches_df_1st_50k[i].count()
    check_completeness[i] += count

In [ ]:
print(check_completeness)

In [ ]:
D = check_completeness
plt.bar(range(len(D)), list(D.values()), align='center')
plt.xticks(range(len(D)), list(D.keys()));

In [ ]:
for i in check_boolean_columns:
    count = matches_df_1st_50k[i].count()
    check_boolean_columns[i] += count

In [ ]:
print(check_boolean_columns)

In [ ]:
D = check_boolean_columns
plt.bar(range(len(D)), list(D.values()), align='center')
plt.xticks(range(len(D)), list(D.keys()));

In [ ]:
for i in check_mixed_columns:
    count = matches_df_1st_50k[i].count()
    check_mixed_columns[i] += count

In [ ]:
print(check_mixed_columns)

In [ ]:
D = check_mixed_columns
plt.bar(range(len(D)), list(D.values()), align='center')
plt.xticks(range(len(D)), list(D.keys()));

In [ ]:
for i in check_numerical_columns:
    count = matches_df_1st_50k[i].count()
    check_numerical_columns[i] += count

In [ ]:
display(check_numerical_columns)
print(min(check_numerical_columns))
print(max(check_numerical_columns))

In [ ]:
# quick chart to see:
D = check_numerical_columns
plt.bar(range(len(D)), list(D.values()), align='center')
plt.xticks(range(len(D)), list(D.keys()));

In [ ]:
for i in check_key_distinguishing_columns:
    count = matches_df_1st_50k[i].count()
    check_key_distinguishing_columns[i] += count

In [ ]:
print(check_key_distinguishing_columns)

In [ ]:
D = check_key_distinguishing_columns
plt.bar(range(len(D)), list(D.values()), align='center')
plt.xticks(range(len(D)), list(D.keys()));

***
# Approaches and techniques trialling (for subsequent application in a pipeline)

### Dropping columns
A: Names

In [ ]:
# given the repetition of player_ and opponent_ name and id we can drop 2 columns
# 2 checks are needed:
#       1: That the full data repeats the pattern above
#       2: That the ids all match with the all_players csv 
columns_to_drop = ['player_name', 'opponent_name']

In [ ]:
# Dealing with the mixed datatypes
print(matches_df_1st_50k.iloc[:,[5, 8, 10, 45, 48]].head())

In [ ]:
matches_df_1st_50k.iloc[:,[5, 8, 10, 45, 48]].isna().sum()
# on the basis that these numbers are high percentages, all over 60%, some care
# is needed. player_name, opponent_name and duration look to be nearly 80% NA
# 
# will need to confirm this through the rest of the data

***
# 1st Attempt to go through the FULL dataset

In [ ]:
# to go through all the sample data set

start = time.time()

ave_bytes = 0
count = 0
total_bytes = 0

header = True

# This enumerate function selects repeated chunks of 1,000,000 rows of data 
for index, chunk in enumerate(pd.read_csv(matches_data_path 
                                            , chunksize= 10_000
                                            # usecols = list(check_completeness.keys()), # can be index based (but not -1): [0, 7]
                                            , parse_dates=True
                                            ),
                              start=1):
    this_bytes = chunk.memory_usage().sum()
    ave_bytes += this_bytes
    total_bytes = total_bytes + this_bytes
    # This inner loop iterates through the rate keys only.Then it does 
    # vectorised selections on the dataframe to select count of each rate key.
    for i in check_completeness:
        count = chunk[i].count()
        check_completeness[i] += count
        
    # make changes
    
    #     
    # chunk.to_csv(matches_data_path_latest,
    #              header=header, 
    #              mode='a',
    #              # cols=[['','']]
    #              )
    header = False # so only first row gets a header

print(f"Total number of chunks: {index}")
print(f"Total memory, MB: {round(total_bytes/100_000,0):,}")
ave_bytes = ave_bytes / index
print(f"Average MB per loop: {round(ave_bytes/100_000,0):,}")
print(check_completeness)

print(round(time.time() - start,2), ' seconds')

In [ ]:
types = defaultdict(str, aces=int, currency=float)
# df = pd.read_csv("/path/to/file.csv", dtype=types, keep_default_na=False)
col_dtype_changes = {'location': str, 'aces': float} # 'start_date': np.datetime64, 'end_date': np.datetime64,

In [ ]:
# now to adjust the datatypes as each chunk is loaded:
skip_cell = 0

if not skip_cell: 
    start = time.time()
    ave_bytes = 0
    count = 0
    total_bytes = 0
    header = True
    # This enumerate function selects repeated chunks of 1,000,000 rows of data 
    for index, chunk in enumerate(pd.read_csv(matches_data_path_full 
                                                , chunksize= 100_000
                                                , usecols = ['aces'] # list(check_completeness.keys()), # can be index based (but not -1): [0, 7]
                                                , dtype=col_dtype_changes # types
                                                , parse_dates=True
                                                , keep_default_na=False),
                                start=1):
        this_bytes = chunk.memory_usage().sum()
        ave_bytes += this_bytes
        total_bytes = total_bytes + this_bytes
        # This inner loop iterates through the rate keys only.Then it does 
        # vectorised selections on the dataframe to select count of each rate key.
        for i in check_completeness:
            count = chunk[i].count()
            check_completeness[i] += count

        # chunk.to_csv(matches_data_path_latest,
        #             header=header, 
        #             mode='a',
        #             # cols=[['','']]
        #             )
        header = False # so only first row gets a header

    print(f"Total number of chunks: {index}")
    print(f"Total memory, MB: {round(total_bytes/100_000,0):,}")
    ave_bytes = ave_bytes / index
    print(f"Average bytes per loop: {round(ave_bytes/100_000,0):,}")
    print(check_completeness)

    print(round(time.time() - start,2), ' seconds')

# See above, an attempt to convert data types on load fails
    This is because there are >1 datatypes in a single column, e.g. 'aces' which has at least: float, str

In [ ]:
# when done with data processing, save back to single file with mode="a" 
# header = True
# for chunk in chunks:

#     chunk.to_csv(os.path.join(folder, new_folder, "new_file_" + filename),
#         header=header, cols=[['TIME','STUFF']], mode='a')

#     header = False

In [ ]:
matches_column_names = matches_df.columns
matches_column_names

In [ ]:
matches_dtypes = matches_df.dtypes
matches_df_objects = matches_dtypes[matches_dtypes==object]
matches_df_objects = pd.DataFrame(matches_df_objects).reset_index()
matches_df_objects.rename(columns={'index': 'column_name', 0: 'dtype'}, inplace=True)
print(matches_df_objects.columns)
matches_df_objects

In [ ]:
matches_date_columns = matches_df_objects[:2]
matches_date_columns

In [ ]:
middle_cols = matches_df[matches_df.columns[12:20]]
middle_cols

In [ ]:
# ! pip install polars
# import polars as pl # this will not work on my machine

# !pip install polars-lts-cpu
import polars as pl

In [ ]:
# this crashes, too big 890mb
matches_csv_file = '../raw_data/archive/all_matches.csv'
# matches_df_polar = pl.read_csv()
# matches_df_polar = pl.read_csv_batched(matches_csv_file)
reader = pl.read_csv_batched(

    matches_csv_file,

    try_parse_dates=True,

)  

batches = reader.next_batches(5)  

for df in batches:  

    print(df)

In [ ]:
df.dtypes.head()

In [ ]:
len(df.columns)

*** 
***
# Pipeline
***
***

In [ ]:
from sklearn.pipeline import Pipeline

In [ ]:
pipeline = Pipeline([])

In [ ]:
pipeline